body{
    font-family:Arial;
}
a{
    text-decoration:none;
}
a:hover{
    font-size:1.0em;
    text-decoration:underline;
}
a:visited{
    color:blue;
}
div.container{
    background:yellow;
    height:100%;
}
header,section,aside{
    padding:5px;
    border:solid black 0px;
    margin:1px;
}
header{
    font-size:4em;
    background-image:url("../img/earthquake.png");
    background-size:100% 100%;
    border-bottom:solid black 1px;
    height:10%;
}
section{
    float:left;
    width:12%;
    height:86%;
    background:lightgray;
    overflow:scroll;
    font-size:14px;
}
aside{
    float:left;
    width:72%;
    height:86%;
    overflow:scroll;
    background:white;
    padding-left:10px;
}
div.placebar{
    font-size:12px;
    float:left;
    width:11%;
    height:86%;
    border-left:solid black 1px;
    background:lightgray;
    padding-left:10px;
    padding-top:10px;
}

nav{
    padding-bottom:5px;
    margin-bottom:10px;
}
footer{
    float:left;
    bottom:0px;
    width:100%;
    font-size:12px;
    border-top:solid black 1px;
    padding:5px;
}
p.menuitem{
    border-bottom:groove lightgray 0px;
    margin:0px;
    padding:5px;
}
div.status{
    position:absolute;
    width:20%;
    top:0px;
    left:40%;
    height:5%;
    background:lightgray;
    padding:5px;
    text-align:center;
    font-style:italic;
    overflow:auto;
    z-index:10000;
    text-align:center;
}
div.errors{
    position:absolute;
    top:0px;
    width:20%;
    left:40%;
    height:5%;
    background:pink;
    padding:5px;
    font-style:italic;
    overflow:auto;
    z-index:10000;
    text-align:center;
}
img.tquakes{
    float:left;
    top:0px;
    height:100%;
}
img.seap{
    float:right;
    top:0px;
    height:100%;
    left:100px
}
figcaption{
    font-style:italic;
    font-size:12px;
    text-align:center;
}
li{
    margin-bottom:8px;
}
div.explanation{
    background:lightgray;
    padding:10px;
    font-size:12px;
    display:none;
}
td.num{
    text-align:right;
}
td.txt{
    text-align:center;
}
tr.header{
    background:lightgray;
    font-style:italic;
}
img.logogroup{
    width:auto;
    height:100%;
    float:right;
    margin-right:0em;
}
figure.plot{
    float:left;
    width:20vw;
}
img.plot{
    width:100%;
    border:solid black 1px;
}
figcaption.plot{
    margin-top:10px;
}
div.plotstack{
    display:table;
}
a.top{
    font-size:10px;
}
div.admin{
    background:lightgray;
    padding:5px;
}